@tailwind base
@tailwind components
@tailwind utilities

//tags
*
    padding: 0
    margin: 0
    box-sizing: border-box

//para criar variáveis no CSS puro podemos utilizar :root
$primary-color: #ffba00
$secondary-color: #fff1cc
$shadow-color: #ccc
$text-color: #fff

body
    min-height: 100vh
    display: flex
    flex-direction: column
    font-family: "Pacifico", cursive
    font-weight: 400
    font-style: normal
    


///////////////////////////////////////////////
// //////////MEU PRÓPRIO CÓDIGO////////////////
// table 
//     justify-content: space-between
//     padding: 5px
//     border-radius: 5px

// body
//     // font-family: "Jacquarda Bastarda 9", serif
//     // font-weight: 400
//     // font-style: normal
//     font-family: "Whisper", cursive
//     font-weight: 400
//     font-style: normal

// //variáveis
// .telacentralizada 
//   display: flex
//   flex-direction: column
//   justify-content: center // Centraliza verticalmente
//   align-items: center  // Centraliza horizontalmente
//   height: 100vh           // Altura total da viewport para centralização vertical
//   text-align: center      // Centraliza o texto dentro dos elementos

// .botao
//     padding: 4px
//     background-color: #7450f8
//     border-radius: 2px
//     font-size: 12px

// .titulo
//     font-size: 18px

// .textoespecial
//     font-family: "Pacifico", cursive
//     font-weight: 400
//     font-style: normal

// .whisper-regular 
//   font-family: "Whisper", cursive
//   font-weight: 400
//   font-style: normal


// //IDs

// #tableclientes
//     width: 80%
